* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
html {
  height: 100%;
  width: 100%;
}
.main-container {
  width: min(80%, 1140px);
  margin: auto;
  height: auto;
}
.comment {
  background-color: #d3d1d1;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 9px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 14px;
  padding: 0.65em 0.73em;
}
.addreplybtn {
  margin-left: 10px;
  color: #6b6bf4;
  cursor: pointer;
}
.replydiv {
  margin-left: 4rem;
  display: flex;
  gap: 5px;
  margin-top: 12px;
}
.replydiv > input {
  outline: none;
  background-color: white;
  padding: 0.43em 0.36em;
  border: none;
  border-radius: 13px;
  border: 1px solid black;
}
.btn {
  display: inline-block;
  padding: 0.84em;
  background-color: #6b6bf4;
  color: white;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: none;
  cursor: pointer;
}
.commentslist {
  margin-top: 10px;
}
.commentslist:not(:first-child) {
  margin-left: 4rem;
}
